<!-- 🔹 Bottom Nav -->
<div class="bg-white shadow-inner flex justify-around items-center py-3 fixed bottom-0 left-0 right-0 z-10  ">

  <!-- Home -->
  <a href="{% url 'home:index' %}" class="text-gray-400 flex flex-col items-center text-xs">
    <svg class="w-6 h-6 mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 12l9-9 9 9M4 10v10a1 1 0 001 1h5m4 0h5a1 1 0 001-1V10"/>
    </svg>
    Home
  </a>

  <!-- Login -->
  <a href="{% url 'analysis:index' %}" class="text-green-500 flex flex-col items-center text-xs">
    <svg class="w-6 h-6 mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M7 10l5 5 5-5"/>
    </svg>
    Analysis
  </a>

  <!-- Add (Center Button) -->
  <a href="{% url 'products:products' %}" class="bg-blue-500 text-white w-14 h-14 rounded-2xl flex items-center justify-center -mt-8 shadow-lg">
    <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 4v16m8-8H4"/>
    </svg>
  </a>

  <!-- Orders -->
  <a href="{% url 'orders:orders' %}" class="text-gray-400 flex flex-col items-center text-xs">
    <svg class="w-6 h-6 mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 7h18M3 12h18M3 17h18"/>
    </svg>
    Orders
    </a>

  <!-- Profile -->
  <a href="{% url 'accounts:profile' %}" class="text-gray-400 flex flex-col items-center text-xs">
    <svg class="w-6 h-6 mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
    </svg>
    Profile
  </a>

</div>


